{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <title>error! invalid user</title>
</head>
<body>
    <section>
        <div class="container">
            <strong class="icon-warning2"></strong>
            <h1>we cannot complete your transaction now</h1>
            <h2>please contact customer care or try again</h2>

            <a href="{% url 'dashboard' %}">back to dashboard</a>
            <a class="green" href="#">customer care</a>
        </div>
    </section>
</body>
</html>