{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- <link rel="stylesheet" href="/static/css/owl.carousel.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <!-- <link rel="stylesheet" href="/static/css/style_form.css"> -->
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">

    <title>Login to your account|login to RAIL</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="/static/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Welcome To <strong>RAIL</strong></h3>
              <p class="mb-4">Please Ensure You Fill In Each Block Correctly.</p>
            </div>
            <form action="{% url 'register' %}" method="post">
              {% csrf_token %}

              <div class="form-group first">
                <label for="username">First Name</label>
                <!-- <input type="text" class="form-control" id="first" name="first_name"> -->
                {{form.first_name}}
              </div>

              <div class="form-group first">
                <label for="username">Last Name</label>
                <!-- <input type="text" class="form-control" id="last" name="last_name"> -->
                {{form.last_name}}
              </div>

              <div class="form-group first">
                <label for="username">Username</label>
                <!-- <input type="text" class="form-control" id="username" name="username"> -->
                {{form.username}}
              </div>              

              <div class="form-group first">
                <label for="username">Email</label>
                <!-- <input type="email" name="email" class="form-control"  id="email"> -->
                {{form.email}}
              </div>

              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <!-- <input type="password" class="form-control" id="password" name="password"> -->
                {{form.password1}}
              </div>

              <div class="form-group last mb-4">
                <label for="password">Confirm Password</label>
                <!-- <input type="password" class="form-control" id="password1" name="password"> -->
                {{form.password2}}
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                  <!-- <div class="control__indicator"></div> -->
                <span class="ml-auto"><a href="{% url 'login' %}" class="forgot-pass">Already Have An Account? Login</a></span> 
              </div>

              <input type="submit" value="Register" class="btn text-white btn-block btn-primary">

            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <!-- <script src="js/jquery-3.3.1.min.js"></script> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- <script src="js/popper.min.js"></script> -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    
  </body>
</html>