<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <title>error! withdrawal failed</title>
</head>
<body>
    <section>
        <div class="container">
            <strong class="icon-check_circle"></strong>
            <h1>your withdrawal request has been sent.</h1>
            <h2 style="color: #ffc107;">fund may take upto 24 hours to reach destination account.</h2>

            <a href="{% url 'dashboard' %}">back to dashboard</a>
        </div>
    </section>
</body>
</html>